<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.engineeringforyou.basesite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name="com.engineeringforyou.basesite.presentation.sitesearch.SearchSiteActivity"
            android:launchMode="singleTask"
            android:theme="@style/SignTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.engineeringforyou.basesite.presentation.sitedetails.SiteDetailsActivity"
            android:theme="@style/SignTheme" />
        <activity
            android:name="com.engineeringforyou.basesite.presentation.sitelist.SiteListActivity"
            android:label="Выбор БС" />
        <activity
            android:name=".presentation.sitemap.MapActivity"
            android:label="Карта"
            android:launchMode="standard" />
        <activity
            android:name=".presentation.sitecreate.SiteCreateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_draft_title"
            android:launchMode="singleTop" />
        <activity
            android:name=".presentation.mapcoordinates.MapCoordinatesActivity"
            android:label="@string/map_coordinates_tittle" />
        <activity
            android:name=".presentation.message.MessageActivity"
            android:label="@string/message_for_developer" />
        <activity android:name=".presentation.job.JobMainActivity"
            android:label="@string/job" />
        <activity android:name=".presentation.job.list.JobListActivity"
            android:label="@string/find_job" />
        <activity android:name=".presentation.job.create.JobCreateActivity"
            android:label="@string/create_job_label"/>
        <activity android:name=".presentation.job.details.JobDetailsActivity"
            android:label="@string/job_details"/>
        <activity android:name=".authorization.PhoneAuthActivity" />

        <service android:name=".notification.PushService"
            android:permission=""
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8005470207b8963d816dae886e2f152e905f684b" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>
</manifest>